
@{
    ViewBag.Title = "Artigos";
    Layout = "LayoutMain.cshtml";
}

    <div class="jumbotron jumbotron-fluid" id="secao-artigos">

        <div class="container">

            <div><h2>Artigos</h2></div>


        </div>

    </div>

