
@{
    ViewBag.Title = "Coaching Executivo e de Equipes";
    Layout = "~/Views/Home/LayoutMain.cshtml";
}

<div class="jumbotron jumbotron-fluid" id="pagina-servicos">

    <div class="container">

        <h2>Coaching Executivo e de Equipes</h2>
        <br />
        <p>
            Coaching é um processo que ajuda indivíduos e organizações a melhorarem os seus desempenhos.Visa facilitar a busca de soluções e estratégias, ajudando o coachee (colaborador objeto do coaching) a incrementar sua performance. Desenvolve em todas as áreas: competências, negócios, carreira, finanças, e relacionamentos profissionais.
        </p>
        <p>
            O Coach (treinador, numa tradução literal) atua encorajando, apoiando, mantendo a motivação e acompanhando a Ação e o Plano de Ação de seu Coachee, incentivando o seu crescimento, aumento de capacidades, habilidades, ação, conscientização de valores e maior controle emocional (Inteligência Emocional), por meio de técnicas que melhorem a sua performance profissional e pessoal, com foco em melhor qualidade de vida, visando a satisfação de objetivos desejado pelo Coachee, considerando ideias como a de que o simples fato de compartilhar pensamentos e ideias que estão soltos e poder organizá-los, transformando em um objetivo desafiante e guiado e mensurado por um Plano de Ações, possibilitando desta forma a concretização dos sonhos e desejos.
        </p>
        <p>
            O CEAP atua com as modalidades de Coaching Executivo, de Equipes, para Orientação de Carreira Profissional e Life Coaching.
        </p>

    </div>
</div>