
@{
    ViewBag.Title = "Avaliação Psicossocial - NR 33";
    Layout = "~/Views/Home/LayoutMain.cshtml";
}

    <div class="jumbotron jumbotron-fluid" id="pagina-servicos">

        <div class="container">

            <h2>Avaliação Psicossocial - NR 33</h2>
            <br />
            <p>
                O CEAP, através de uma metodologia exclusiva vem prestando serviços às empresas na Avaliação Psicossocial de seus colaboradores, para atender a Norma Regulamentadora NR 33.
            </p>
            <p>
                Esta norma estabelece os requisitos mínimos para identificação de espaços confinados, como também, o reconhecimento, avaliação, monitoramento e controle dos riscos existentes, dentre eles, os riscos psicossociais, como o objetivo de garantir segurança e saúde aos trabalhadores que interagem direta ou indiretamente, nestes espaços. A avaliação psicossocial contempla a avaliação de aspectos clínicos, sociais e laborais, para compor o perfil psicológico do indivíduo.
            </p>
            <p>
                A avaliação psicossocial deve ser feita periodicamente, por profissional habilitado, pois mesmo que o trabalhador seja contratado em condições adequadas de saúde física e mental, poderá apresentar ao longo do tempo, algum distúrbio psíquico, o que comprometerá suas atividades durante o período que estiver desenvolvendo suas atividades laborais, reforçando a necessidade das reavaliações periódicas.
            </p>

</div>
</div>