
@{
    ViewBag.Title = "Gestão de Competências";
    Layout = "~/Views/Home/LayoutMain.cshtml";
}

    <div class="jumbotron jumbotron-fluid" id="pagina-servicos">

        <div class="container">

            <h2>Gestão de Competências</h2>
            <br />
            <p>
                A gestão por competências atualmente é apontada como modelo gerencial que tem como objetivo identificar o gap das competências técnicas e comportamentais reduzindo ao máximo a discrepância entre as necessárias à consecução dos objetivos organizacionais e aquelas já disponíveis na organização.
            </p>
            <p>
                Pode ser definida como uma metodologia de orientação gerencial voltada para o desenvolvimento sistemático das competências profissionais das equipes e colaboradores. Contribui para o reposicionamento estratégico na área de Gestão de Pessoas, nas atividades a ela relacionadas em seus subsistemas: recrutamento e seleção, avaliação e desempenho profissional, remuneração e benefícios e desenvolvimento de pessoal.
            </p>
            <p>
                A Gestão por Competências busca integrar todos os subsistemas, desenvolvendo as competências necessárias ao alcance dos objetivos organizacionais. A redução ou eliminação de eventuais lacunas de competências está condicionada ao mapeamento das competências necessárias à consecução da estratégia organizacional.
            </p>

</div>
</div>