
@{
    ViewBag.Title = "Avaliação Psicossocial - NR 35";
    Layout = "~/Views/Home/LayoutMain.cshtml";
}

    <div class="jumbotron jumbotron-fluid" id="pagina-servicos">

        <div class="container">

            <h2>Avaliação Psicossocial - NR 35</h2>
            <br />
            <p>
                Para minimizar a situação de risco em para trabalhadores que desenvolvem atividades laborais em altura, o Ministério do Trabalho regulamentou a NR-35 que estabelece os requisitos mínimos e as medidas de proteção para o trabalho em altura, exigindo também das empresas a Avaliação Psicossocial dos colaboradores.
            </p>
            <p>
                O CEAP através de sua metodologia vem prestando serviços às empresas na Avaliação Psicossocial de seus colaboradores. São avaliados os aspectos clínicos, sociais e laborais para compor o perfil psicológico do individuo. A avaliação psicossocial deve ser feita periodicamente, por profissional habilitado, pois mesmo que o trabalhador seja contratado em condições adequadas de saúde física e mental, poderá apresentar ao longo do tempo, algum distúrbio psíquico, o que comprometerá suas atividades durante o período que estiver desenvolvendo suas atividades laborais, reforçando a necessidade das reavaliações periódicas.
            </p>

            </div>
</div>